@model IEnumerable<Moccacito.Models.ProjectManager>

@{
    ViewBag.Title = "Project Managerowie";
}

<h2>Project Managerowie</h2>

<p>
    @Html.ActionLink("Nowy Project Manager", "Create", null, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PictureUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            <div class="btn-group">
                @Html.ActionLink("Zmień", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
            </div>
        </td>
    </tr>
}

</table>
