@model Moccacito.Models.Client

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<div class="alert alert-warning">Czy na pewno chcesz usunąć poniższe dane?</div>
<div>
    <h4>Klienci i produkty</h4>
    <hr />
    <div class="btn-group">
        @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-default" })
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Potwierdzam" class="btn btn-primary" />
        </div>
    }
</div>
