@model Moccacito.Models.Product

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Produkty</h4>
	<hr />
    <div class="btn-group">
        @Html.ActionLink("Zmień", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-default" })
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>

    </dl>
</div>
